* {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 65px;
    padding: 30px 0 0 30px;
    display: flex;
    justify-content: flex-start;
}

.brand {
    font-size: 40px;
    font-style: italic;
    color: green;
}

body {
    font-family: "Barlow", sans-serif;
    background-image: -moz-linear-gradient(to bottom right, rgb(160, 157, 157), white);
}

section {
    padding: 100px;
    margin-left: 30px;
}

footer {
    text-align: right;
}